<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.simonlee.demo.xcodescanner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="cn.dalelegamalek.demo.xcodescanner.APP"
        android:hardwareAccelerated="false"
        android:icon="@drawable/circlelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/BaseActivityTheme.TransparentWindow">
        <activity android:name="cn.dalelegamalek.demo.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.dalelegamalek.demo.Activity.QrScanner" />
        <activity android:name="cn.dalelegamalek.demo.Activity.Get_points" />
        <activity android:name="cn.dalelegamalek.demo.Activity.charge_Point" />
        <activity android:name="cn.dalelegamalek.demo.Activity.AfterScan" />
        <activity android:name="cn.dalelegamalek.demo.Activity.Update_order" />
        <activity android:name="cn.dalelegamalek.demo.Activity.Delete_order" />
        <activity android:name="cn.dalelegamalek.demo.Activity.Add_order" />
        <activity android:name="cn.dalelegamalek.demo.Activity.SampleActivity" />
        <activity
            android:name="cn.dalelegamalek.demo.Activity.RegestrationActivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="cn.dalelegamalek.demo.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity
            android:name="cn.dalelegamalek.demo.xcodescanner.SplashActivity"
            android:theme="@style/SplashActivityTheme" />
        <activity
            android:name="cn.dalelegamalek.demo.xcodescanner.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/BaseActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="cn.dalelegamalek.demo.xcodescanner.ScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>